[Unit]
Description=Lanza la sesión nocturna de Pinoloko a las 00:15

[Timer]
OnCalendar=*-*-* 00:15:00
RandomizedDelaySec=2min
Persistent=false
Unit=pinoloko.service

[Install]
WantedBy=timers.target
